<extend name="Base/common"/>

<block name="main">

<div class="content">
        <div class="header">
    	<!--page title begin-->
        <h1 class="page-title">修改</h1>
        </div>
        <ul class="breadcrumb">
        	<!--  <li><a href="new_device.html">添加新类型</a> <span class="divider">/</span></li>
            <li class="active">设备管理</li>-->
        </ul>
        <!--page title end and the main content begin-->
        <div class="container">
            <!--new device from begin-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="display">
                        <form action="" class="form-horizontal" id="add-device" role="form" method="post"> 
                          <input type="hidden" name="id" value="{$room_info.id}">                          

                            
                         
                            
                            <div class="form-group">
                                <label for="category-name" class="col-xs-4 control-label">机房名:</label>
                                <div class="col-xs-4">
                                    <input type="text" class="form-control" id="name" name="name"  value="{$room_info.name}" >
                                </div>
                            </div>

 
                            <div class="form-group">
                                <label for="category-name" class="col-xs-4 control-label">机房编码:</label>
                                <div class="col-xs-4">
                                    <input type="text" class="form-control" id="roomcode" name="roomcode" value="{$room_info.roomcode}" >
                                </div>
                            </div>                            

                           	<div class="form-actions col-xs-8 pull-right">
                        		<input type="submit" class="btn btn-primary"></input>
                    		</div>
                        </form>
                    </div>
                </div>
            </div>


            </div>
        <!--the content end -->

                    
</div>
  
<script type="text/javascript">

  var select1 = document.getElementById("select1");
  var select2 = document.getElementById("select2");
  var arr = {$jsonlist2};
  var arr2=new Array();

  select1.onchange = function(){
    var value = this.value;
    select2.length = 0;
    select2.add(new Option("默认",""));
    for(var i=0;i<arr.length;i++){

      if(value==arr[i].webid){ //value==arr[i].customer
        select2.add(new Option(arr[i].typename,arr[i].id));
      }
    }

    if(select2.length==0){
      //select2.add(new Option("默认","null"));
    }
      $('#span1').html("");
  }
  select1.onchange();


  //select2.onchange();

</script>








   
</block>
