<extend name="Base/common"/>

<block name="main">
<style>
.clear{ clear:both;}
li{ list-style:none;}
.page-title-ul{ font-size:16px; height:40px;}
.page-title-ul li{ float:left; padding:20px 0 0; margin:0 10px;}
.page-title-ul li a{ color:#1e1e1e; line-height:24px; padding:8px 24px; border-radius:6px 6px 0 0; border:1px solid #ccc; border-bottom:none;}
.page-title-ul li.hover a{ background:#fff; border-bottom:none;}
</style>

<script type="text/javascript">
 function submit_now(){
    var name = $('#name').val();
    window.location.href= "__ROOT__/index.php?s=/Home/Resource/index/name/"+name+"/p/1.html";
 }
 </script>


<div class="content">
        <div class="header">
        <!--page title begin-->
            <ul class="page-title-ul">
                <li class="hover"><a href="{:U('ExportFlow/index')}">出口端口</a></li>
                <li ><a href="{:U('ExportFlow/flow_type')}">资源类型</a></li>
                <li ><a href="{:U('ExportFlow/day')}">机房日报</a></li>
                <li ><a href="{:U('ExportFlow/week')}">周报</a></li>
                <li><a href="{:U('ExportFlow/doubleweek')}">双周报</a></li>
                <li><a href="{:U('ExportFlow/month')}">月报</a></li>
                <li><a href="{:U('ExportFlow/history')}">历史</a></li>
                <li><a href="{:U('ExportFlow/huabei_product')}">华北机房带宽产品统计</a></li>
                <!--li><a href="{:U('ExportFlow/auto_week')}">自定义</a></li-->
                <div class="clear"></div>
            </ul>
        </div>
       
        <!--page title end and the main content begin-->

        <div class="container">

          <!--the toolbar begin -->
            <div class="toolbar">
                <div class="row">
                    <div class="col-xs-6" style="width:100%;">
                       
                    </div>
                    
                </div>

            </div>
        <!--all device detail begin -->
        <a href="{:U('Other/citylist')}">城市管理</a> | <a href="{:U('Other/product')}">产品类型管理</a>

        <!--all device detail begin -->
            <div class="panel panel-default" id="all-device-detail">
                <div class="panel-heading">
                
                </div>
                  <table class="table">
                        
                        <thead>
                        <tr>
                            <th>城市编码</th>
                            <th>城市</th>
                            <th>产品编码</th>
                            <th>产品</th>
                            <th>实际使用带宽(MB)</th>
                        </tr></thead>
                        <tbody>
                            <volist name="type_list" id="vo">
                            
                            <tr>
                                <?php  $typeid=$v['id'];  ?>
                                <td><?php echo $vo['city_code'];?></a></td>
                                <td><?php echo $vo['city'];?></td>
                                <td><?php echo $vo['product_code'];?></td>
                                <td><?php echo $vo['product'];?></td>
                                <td></td>
                            </tr>
                            
                            </volist>
                            
                            
                           
                        </tbody>
                        
                   </table>
            </div>
        </div>
        
                    <footer>
                        <hr>
                        <p class="pull-right">&copy; ccib网管中心</p>
                    </footer>
                    
    </div>
    
   
   
</block>
