<extend name="Base/common"/>

<block name="main">

<div class="content">
        <div class="header">
    	<!--page title begin-->
        <h1 class="page-title">修改</h1>
        </div>
        <ul class="breadcrumb">
        	<!--  <li><a href="new_device.html">绑定新设备</a> <span class="divider">/</span></li>
            <li class="active">设备管理</li>-->
        </ul>
        <!--page title end and the main content begin-->
        <div class="container">
            <!--new device from begin-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="display">
                        <form action="" class="form-horizontal" id="add-device" role="form" method="post">                           
                            <input type="hidden" name="jifang_url_id" value="{$jifang_url_id}">

                            <div class="form-group">

                                <label for="category-name" class="col-xs-4 control-label">城市<font color="red">*</font>:</label>
                                <div class="col-xs-4">
                                    <select class="form-control" name="citycode">
                                       <volist name="city_list" id="vo">


 <?php  $citycode_now = $vo['citycode']; $citycode = $port_info['citycode']; ?>
  <option value="{$vo.citycode}" <if condition=" $citycode eq $citycode_now">selected="selected"</if> >{$vo.name}</option>                                          
                                      </volist>
                                    </select>
                                </div>
                            </div>




                            <div class="form-group">
                                <label for="category-name" class="col-xs-4 control-label">所在机房<font color="red">*</font>:</label>
                                <div class="col-xs-4">
                                    <select class="form-control" name="roomcode">
                                         <volist name="room_list" id="vo">

                                          <?php  $room_now = $vo['roomcode'];  ?>
                                          <option value="{$vo.roomcode}" <if condition="$port_info.roomcode eq $room_now">selected="selected"</if> >{$vo.name}</option>


                                        </volist>
                                    </select>
                                </div>
                            </div>





                            <div class="form-group">

                                <label for="category-name" class="col-xs-4 control-label">产品类型<font color="red">*</font>:</label>
                                <div class="col-xs-4">
                                    <select class="form-control" name="productcode">
                                       <volist name="product_list" id="vo">
                                            <?php  $product_now = $vo['productcode'];  ?>
                                          <option value="{$vo.productcode}" <if condition="$port_info.productcode eq $product_now">selected="selected"</if> >{$vo.name}</option>
                                      </volist>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="category-name" class="col-xs-4 control-label">出口类型<font color="red">*</font>:</label>
                                <div class="col-xs-4">
                                    <select class="form-control" name="type_id">
                                       <?php    $arr_a = array('5'=>"华北区","4"=>"华东区","6"=>"华南区"); $type_id=$port_info['type_id'];?>
                										   <volist name="type_list" id="vo">
                										        <?php  $type_now = $vo['id'];  ?>
                										     	<option value="{$vo.id}" <if condition="$type_id eq $type_now">selected="selected"</if> ><?php echo $arr_a[$depart_id];  ?>-{$vo.type_name}</option>
                											</volist>
                                    </select>
                                </div>
                            </div>

                             <div class="form-group">
                                <label for="device-type" class="col-xs-4 control-label">设备名称<font color="red">*</font>:</label>
                                <div class="col-xs-4">
                                    <input type="text" class="form-control" id="device_name" name="device_name" value="{$port_info.device_name}"  required>
                                </div>
                            </div>

                             <div class="form-group">
                                <label for="device-type" class="col-xs-4 control-label">端口:</label>
                                <div class="col-xs-4">
                                    <input type="text" class="form-control" id="port" name="port" value="{$port_info.port}" ><br />
                                    <font color="red" style="font-size:9pt;color:red;"><!--background:black-->请统一命名规范：千兆口=GigabitEthernet1/1 | 万兆口一=Ten-GigabitEthernet6/0/1 | 万兆口二=XGigabitEthernet6/0/1/0 | 捆绑端口=M-GigabitEthernet0/0/0 | Vlan-interface | LoopBack0</font>
                                </div>
                                
                            </div>

                             <div class="form-group">
                                <label for="device-type" class="col-xs-4 control-label">IP:</label>
                                <div class="col-xs-4">
                                    <input type="text" class="form-control" id="ip" name="ip" value="{$port_info.ip}" >
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="category-name" class="col-xs-4 control-label">inbound与outbound是否互换:</label>
                                <div class="col-xs-4">
                                    <select class="form-control" name="flag_change">
                                         <?php $change = $port_info['flag_change'];  ?>
                                         <option value="0" <if condition="$change eq 0">selected="selected"</if> >否</option>
										 <option value="1" <if condition="$change eq 1">selected="selected"</if> >是</option> 
                                    </select>
                                </div>
                            </div>



                           	<div class="form-actions col-xs-8 pull-right">
                        		<input type="submit" class="btn btn-primary"></input>
                    		</div>
                        </form>
                    </div>
                </div>
            </div>


            </div>
        <!--the content end -->

                    
</div>
  
<script type="text/javascript">

  var select1 = document.getElementById("select1");
  var select2 = document.getElementById("select2");
  var arr = {$jsonlist2};
  var arr2=new Array();

  select1.onchange = function(){
    var value = this.value;
    select2.length = 0;
    select2.add(new Option("默认",""));
    for(var i=0;i<arr.length;i++){

      if(value==arr[i].webid){ //value==arr[i].customer
        select2.add(new Option(arr[i].typename,arr[i].id));
      }
    }

    if(select2.length==0){
      //select2.add(new Option("默认","null"));
    }
      $('#span1').html("");
  }
  select1.onchange();


  //select2.onchange();

</script>








   
</block>
