<extend name="Base/usercommon"/>

<block name="style">
<link type="text/css" rel="stylesheet" href="__STATIC__/smnpc/js/style3.css">
</block>

<block name="main">

      <div class="topbox"></div>
      <!--main begin-->
      <div class="wrap clearfix wrapper">

        <div class="lt-menu">
          <h2>导航</h2>
          <ul class="nav">

           <li class="item">
              <a  href="{:U('Ipdb/listitems')}">硬件<img src="__STATIC__/ipdb/images/add.png" /></a></li>
           <li class="item">
              <a  href="{:U('Ipdb/listsoftware')}">软件<img src="__STATIC__/ipdb/images/add.png" /></a></li>
           <li class="item">
              <a  href="{:U('Ipdb/listlocations')}">地点<img src="__STATIC__/ipdb/images/add.png" /></a></li>
           <li class="item">
              <a  href="{:U('Ipdb/listracks')}">机柜<img src="__STATIC__/ipdb/images/add.png" /></a></li>
           <li class="item">
              <a  href="{:U('Ipdb/listinvoices')}">单据<img src="__STATIC__/ipdb/images/add.png" /></a></li>
           <li class="item">
              <a  href="{:U('Ipdb/listcontracts')}">合同<img src="__STATIC__/ipdb/images/add.png" /></a></li>
           <li class="item on">
              <a  href="{:U('Ipdb/itemtagtypes')}">标记<img src="__STATIC__/ipdb/images/add.png" /></a></li>
           <li class="item">
              <a  href="{:U('Ipdb/itemtypes')}">硬件类型<img src="__STATIC__/ipdb/images/add.png" /></a></li>
           <li class="item">
              <a  href="{:U('Ipdb/itemcontracttypes')}">合同类型<img src="__STATIC__/ipdb/images/add.png" /></a></li>
           <li class="item">
              <a  href="{:U('Ipdb/itemstatustypes')}">状态类型<img src="__STATIC__/ipdb/images/add.png" /></a></li>
           <li class="item">
              <a  href="{:U('Ipdb/itemfiletypes')}">文件类型<img src="__STATIC__/ipdb/images/add.png" /></a></li>

          </ul>
        </div>

<ul class="clearfix">

    <form  action="" method="post" > 
            <div class="main">
              <div class="loca clearfix">标记添加</div>
              <div class="edit-contact" >
 
              <li>
                <div class="p">
                  <label class="dt">标记名称：</label>
                  <span class="fl">
                    <input class="txt" id="name" name="name" type="text" value="" required></span>
                  <em class="errorTxt"></em>
                </div>
              </li>


              <li class="last">
                <div class="p">
                  <label class="dt">&nbsp;</label>
                  <input class="submit fl" type="submit" value="完成" >
                </div>
              </li>

            </div>
        </form>

            <div class="loca clearfix">标记列表</div>            
            <div class="data-list" id="msgBox">


                  <table class="table" summary="">
                  
                    <thead>
                     <tr>
                          <th class="text-center"  >名称</th>
                          <th class="text-center"  >关联硬件</th>
                          <th class="text-center"  >关联软件</th>
                        <th>操作</th>
                     </tr>
                     
                   </thead>
                   <notempty name="list">
                      <tbody>
                        <foreach name="list" item="vo">
                          <tr >
                            <td>{$vo.name}</td>
                            <td><a href="{:U('Ipdb/itemtag2list?id='.$vo['id'])}" target="_blank">{$vo.tag2count}</a></td>
                            <td><a href="{:U('Ipdb/itemtag2softlist?id='.$vo['id'])}" target="_blank">{$vo.tag2softwarecount}</a></td>
                            <td>
                              <a href="{:U('Ipdb/edittagtypes?id='.$vo['id'])}" >编辑</a> | 
                              <a href="{:U('Ipdb/deltagtypes?id='.$vo['id'])}" onclick="javascript:return p_del()"> 删除</a>
                            </td>
                            
                          </tr>
                        </foreach>
                      </tbody>  
                      <tr>
                          <td colspan="12" >
                              <center><div class="page_v1" id="alarmMessage_ajax_page" style="display: block;">{$page}</div></center>
                          </td>
                      </tr>
                  </notempty>
                </table>
           </div>
           </div>
    
</ul>
</div>
  <!-- <div class="main"> -->
        



<script type="text/javascript">

  function p_del() { 
    var msg = "您真的确定要执行删除操作吗？\n\n请确认！"; 
    if (confirm(msg)==true){ 
        return true; 
    }else{ 
        return false; 
    } 
  } 

</script>


</block>




