<extend name="Base/common"/>

<block name="main">

<div class="content">
        <div class="header">
      <!--page title begin-->
        <h1 class="page-title">标记列表</h1>
        </div>
       
        <!--page title end and the main content begin-->

        <div class="container">

          <!--the toolbar begin -->
            <div class="toolbar">
                <div class="row">
                    <div class="col-xs-6" style="width:100%;">
                        <div class="quick-add-btn">

                          <a href="{:U('addtagtypes')}"  type="button" class="btn btn-danger">
                          <span class="glyphicon glyphicon-new-window"></span> 标记添加</a>
                       

              <form class="form-inline pull-right" id="device-search" role="form" method="get" >
                                <div class="form-group">
                                <input type="text" class="form-control" name="tag_name" id="tag_name" value="<?php echo I('get.tag_name'); ?>"  placeholder="tag名称……">
                                </div>
                                <button type="button" class="btn btn-default" onclick="submit_now()"  style= "margin:0;">筛选</button>
                            </form>

                       </div>
                        
                        
                        
                    </div>
                    
                </div>

            </div>
        <!--all device detail begin -->
                

        <!--all device detail begin -->
            <div class="panel panel-default" id="all-device-detail">
                <div class="panel-heading">

                </div>
                  <table class="table">
                        <thead>
                        <tr>
                            <th>名称</th>
                            <th>关联硬件</th>
                            <th>关联软件</th>
                            <th>操作</th>
                        </tr></thead>
                        <tbody>
                        
                            <volist name="list" id="vo">
                            <tr >
                              <td>{$vo.name}</td>
                                <td>{$vo.tag2count}</td>
                                <td>{$vo.tag2softwarecount}</td>
  
                                <td>
                                  <a class="btn btn-primary btn-xs" href="{:U('Ipdb/edittagtypes?id='.$vo['id'])}">编辑</a>
                                  <a class="btn btn-default btn-xs" href="{:U('Ipdb/deltagtypes?id='.$vo['id'])}" onclick="javascript:return p_del()">删除</a>

                                </td>
                            </tr>
                            </volist>
                            <tr><td  colspan="10" style="align:center">{$page}</td></tr>
                            
                           
                        </tbody>
                    </table>
            </div>
        </div>
        
    <footer>
        <hr>
        <p class="pull-right">&copy; ccib网管中心</p>
    </footer>
                    
    </div>
    
 <script type="text/javascript">

  function p_del() { 
    var msg = "您真的确定要执行删除操作吗？\n\n请确认！"; 
    if (confirm(msg)==true){ 
        return true; 
    }else{ 
        return false; 
    } 
  } 

function submit_now(){
   
    var tag_name = $('#tag_name').val();
    window.location.href= "__ROOT__/index.php?s=/Home/Ipdb/itemtagtypes/tag_name/"+tag_name+"/p/1.html";

 }


</script>  
   









</block>
