<extend name="Base/common"/>

<block name="main">

<script type="text/javascript">
 function submit_now(){
   
	
	var itemtypeid = $('#itemtypeid').val();
	var stitle = $('#stitle').val();
	
	window.location.href= "__ROOT__/index.php?s=/Home/Soft/index/itemtypeid/"+itemtypeid+"/stitle/"+stitle+"/p/1.html";
 }
 </script>

<div class="content">
        <div class="header">
    	<!--page title begin-->
        <h1 class="page-title">配置关系列表</h1>
        </div>
       
        <!--page title end and the main content begin-->

        <div class="container">

          <!--the toolbar begin -->
            <div class="toolbar">
                <div class="row">
                    <div class="col-xs-6" style="width:100%;">
                        <div class="quick-add-btn">
                            <a href="{:U('relation_new')}"  type="button" class="btn btn-danger"><span class="glyphicon glyphicon-new-window"></span> 设置用户组与hostgroup配置关系</a>
                        	
                       

							

                       </div>
                        
                        
                        
                    </div>
                    
                </div>

            </div>
        <!--all device detail begin -->
                

        <!--all device detail begin -->
            <div class="panel panel-default" id="all-device-detail">
                <div class="panel-heading">
                
                </div>
                  <table class="table">
                        <thead>
                        <tr>
                            <th>用户组名称</th>
                            <th>hostgroup名称</th>
                            <th>操作</th>

                        </tr></thead>
                        <tbody>
                        
                            <volist name="list" id="vo">
                            <tr >
                                <td><?php  $id_us = $vo['usergroup_id'];  echo $usergroup_all[$id_us]; ?></td>
                            	<td><?php  $id_de = $vo['depart_id'];  echo $department_all[$id_de]; ?></td>
                            	
                                <td>
                                
                                
                                <a class="btn btn-default btn-xs" href="{:U('relation_del?id='.$vo['id'])}" onclick="return confirm('确定删除该条记录?')" >删除</a>
                                </td>
                            </tr>
                            </volist>
                            <tr><td  colspan="10" style="align:center">{$page}</td></tr>
                            
                           
                        </tbody>
                    </table>
            </div>
        </div>
        
                    <footer>
                        <hr>
                        <p class="pull-right">&copy; ccib网管中心</p>
                    </footer>
                    
    </div>
    
   
   
</block>
