<extend name="Base/common"/>

<block name="main">

<div class="content">
        <div class="header">
      <!--page title begin-->
        <h1 class="page-title">菜单列表</h1>
        </div>
       
        <!--page title end and the main content begin-->

        <div class="container">

          <!--the toolbar begin -->
            <div class="toolbar">
                <div class="row">
                    <div class="col-xs-6" style="width:100%;">
                        <div class="quick-add-btn">

                          <a href="{:U('addmenu')}" type="button" class="btn btn-danger">
                          <span class="glyphicon glyphicon-new-window"></span>菜单添加</a>

                            <form class="form-inline pull-right" id="device-search" role="form" method="get" >
                                <div class="form-group">
                                <input type="text" class="form-control" name="title" id="title" value="{$title}"  placeholder="菜单名称……">
                                </div>
                                <button type="button" class="btn btn-default" onclick="submit_now()"  style= "margin:0;">筛选</button>
                            </form>

                       </div>
                        
                        
                        
                    </div>
                    
                </div>

            </div>
        <!--all device detail begin -->
                

        <!--all device detail begin -->
            <div class="panel panel-default" id="all-device-detail">
                <div class="panel-heading">

                </div>
                  <table class="table">
                        <thead>
                        <tr>
                              <th>名称</th>
                              <th>上级菜单</th>
                              <th>排序</th>
							  <th>URL</th>
                              <th>操作</th>
                        </tr></thead>
                        <tbody>
  
                        <volist name="list" id="vo">
                        <tr >

                                <td><if condition="$vo.deep eq 1 ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└&nbsp;
<elseif condition="$vo.deep eq 2"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└&nbsp;
<elseif condition="$vo.deep eq 3"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└&nbsp;
<else /></if>{$vo.title}</td>
                                <td>{$vo.pid}</td>
                                <td>{$vo.sort}</td>
                                <td>{$vo.url}</td>
                                
                                <td> <a href="{:U('Menu/editmenu?id='.$vo['id'].'&pid='.$vo['pid'])}" >编辑</a> | 
                                  <a href="{:U('Menu/menudelete?id='.$vo['id'])}" onclick="javascript:return p_del()">删除</a> 
                                </td>
                        
                        </tr>
                        </volist>

                            <tr><td  colspan="10" style="align:center">{$page}</td></tr>
                            
                           
                        </tbody>
                    </table>
            </div>
        </div>
           
    </div>
    
 <script type="text/javascript">

  function p_del() { 
    var msg = "您真的确定要执行删除操作吗？\n\n请确认！"; 
    if (confirm(msg)==true){ 
        return true; 
    }else{ 
        return false; 
    } 
  } 

function submit_now(){
   
    var title = $('#title').val();
    window.location.href= "__ROOT__/index.php?s=/Home/Menu/menulist/title/"+title+"/p/1.html";

 }


</script>  
   









</block>
