<extend name="Base/common"/>

<block name="main">

<div class="content">
        <div class="header">
    	<!--page title begin-->
        <h1 class="page-title">编辑</h1>
        </div>
        <ul class="breadcrumb">
        	<!--  <li><a href="new_device.html">绑定新设备</a> <span class="divider">/</span></li>
            <li class="active">设备管理</li>-->
        </ul>
        <!--page title end and the main content begin-->
        <div class="container">
            <!--new device from begin-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="display">
                        <form action="" class="form-horizontal" id="add-device" role="form" method="post">                           


                            <input type="hidden" name="id" value="{$event_find.id}">

                            <div class="form-group">
                                <label for="category-name" class="col-xs-4 control-label"><font color="red">*</font>类型名称:</label>                            
                                <div class="col-xs-4">
                                    <input type="text" class="form-control" id="name" name="name"  required="required"  value="{$event_find.name}">
                                </div>
                            </div>
                            

                            
                           	<div class="form-actions col-xs-8 pull-right">
                        		<input type="submit" class="btn btn-primary"></input>
                    		</div>
                        </form>
                    </div>
                </div>
            </div>


            </div>
        <!--the content end -->

                    
</div>
   

<script type="text/javascript" src="__PUBLIC__/static/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/jedate/jedate.js"></script>
<script type="text/javascript">
//jeDate.skin('gray');
jeDate({
    dateCell:"#startcai",
    format:"YYYY-MM-DD hh:mm:ss",
    isTime:true
})

jeDate({
    dateCell:"#endcai",
    format:"YYYY-MM-DD hh:mm:ss",
    isTime:true
})
/*var timestamp2 = Date.parse(new Date(stringTime));*/
/*$("#efftime").onclick(function(){
	var start=document.getElementById("startcai").value;  
	var end=document.getElementById("endcai").value;
	if(start != "" && end != ""){
		var stat = Date.parse(new Date(start));
		var en = Date.parse(new Date(end));
		if(en > stat){
			var gap = (en - stat)/1000
			var fen = gap / 60;
			document.getElementById("endcai").value = fen.toFixed(2) + "second";
		}
	}
});*/
</script>

   
</block>
