<extend name="Base/common"/>

<block name="main">



<style>
.clear{ clear:both;}
li{ list-style:none;}
.page-title-ul{ font-size:16px; height:40px;}
.page-title-ul li{ float:left; padding:20px 0 0; margin:0 10px;}
.page-title-ul li a{ color:#1e1e1e; line-height:24px; padding:8px 24px; border-radius:6px 6px 0 0; border:1px solid #ccc; border-bottom:none;}
.page-title-ul li.hover a{ background:#fff; border-bottom:none;}
</style>

<script type="text/javascript">
 function submit_now(){
   
	
	var itemtypeid = $('#itemtypeid').val();
	var depart_id = $('#depart_id').val();
	var common_name = $('#common_name').val();
	var sn = $('#sn').val();
	var ip = $('#ip').val();
	
	window.location.href= "__ROOT__/index.php?s=/Home/Item/index/itemtypeid/"+itemtypeid+"/sn/"+sn+"/common_name/"+common_name+"/depart_id/"+depart_id+"/ip/"+ip+"/p/1.html";
 }
 </script>
 
<div class="content">
        <div class="header">
    	<!--page title begin-->
           <h1 class="page-title">硬件资产列表</h1>  
        	
        </div>
       
        <!--page title end and the main content begin-->

        <div class="container">

          <!--the toolbar begin -->
            <div class="toolbar">
                <div class="row">
                    <div class="col-xs-6" style="width:100%;">
                        <div class="quick-add-btn">
                            <if condition="$is_admin_define eq true" >
                            <a href="{:U('item_new')}"  type="button" class="btn btn-danger"><span class="glyphicon glyphicon-new-window"></span> 添加新硬件</a>
							<a href="{:U('export_data')}"  type="button" class="btn btn-danger"><span class="glyphicon glyphicon-new-window"></span> 导出数据</a>
							<a href="{:U('see_junks')}"  type="button" class="btn btn-danger"><span class="glyphicon glyphicon-new-window"></span> 查看下架列表</a>
							<a href="{:U('see_stores')}"  type="button" class="btn btn-danger"><span class="glyphicon glyphicon-new-window"></span> 查看库房列表</a>
                            <elseif condition="$is_owner_define eq 'YES'"/>
                            <a href="{:U('item_new')}"  type="button" class="btn btn-danger"><span class="glyphicon glyphicon-new-window"></span> 添加新硬件</a>
                            <a href="{:U('see_junks')}"  type="button" class="btn btn-danger"><span class="glyphicon glyphicon-new-window"></span> 查看下架列表</a>
                            <a href="{:U('see_stores')}"  type="button" class="btn btn-danger"><span class="glyphicon glyphicon-new-window"></span> 查看库房列表</a>
		
                            <else /> 
                            </if>

							<form class="form-inline" id="device-search" role="form" method="get" style="margin-top:20px;">
							    <div class="form-group">
                                    <select class="form-control" id="depart_id" name="depart_id">
                                    	<option class="level-0" value="" >所属业务线</option>
                                        <volist name="depart_list" id="vo"> 
                                            <?php   $vodeid = $vo['id'];$deid=I('get.depart_id'); ?>   
                                            <option class="level-0" value="{$vo.id}" <if condition="$vodeid eq $deid"> selected='selected'</if>  >{$vo.depart_name}</option>
                                        </volist>
                                        
                                    </select>
                                </div>
							    <div class="form-group">
                                    <select class="form-control" id="itemtypeid" name="itemtypeid">
                                    	<option class="level-0" value=""  > 全部硬件类型</option>
                                        <volist name="type_all_list" id="vo"> 
                                            <?php   $void = $vo['id'];$tyid=I('get.itemtypeid'); ?>   
                                            <option class="level-0" value="{$vo.id}" <if condition="$void eq $tyid"> selected='selected'</if>  > {$vo.typedesc}</option>
                                        </volist>
                                        
                                    </select>
                                </div>
                                <div class="form-group">
                                        <input type="text" class="form-control" name="common_name" id="common_name" value="<?php echo I('get.common_name'); ?>"  placeholder="设备名称……">
                                </div>
                                <div class="form-group">
                                        <input type="text" class="form-control" name="sn" id="sn" value="<?php echo I('get.sn'); ?>"  placeholder="sn编号……">
                                </div>
                                <div class="form-group">
                                        <input type="text" class="form-control" name="ip" id="ip" value="<?php echo I('get.ip'); ?>"  placeholder="ipv4……">
                                </div>
                                <button type="button" class="btn btn-default" onclick="submit_now()"  style= "margin:0;">筛选</button>
                            </form>

                       </div>
                        
                        
                        
                    </div>
                    
                </div>

            </div>
        <!--all device detail begin -->
                

        <!--all device detail begin -->
            <div class="panel panel-default" id="all-device-detail">
                <div class="panel-heading">
                
                </div>
                  <table class="table">
                        <thead>
                        <tr>
                            <th>设备名称</th>
                            <th>硬件类型</th>
                            <th>数据中心/房间/机柜</th>
                            <th>所属部门</th>
                            <th>操作</th>
                        </tr></thead>
                        <tbody>
                        
                            <volist name="list" id="vo">
                            <tr >
                            	<td><a href="{:U('item_info?id='.$vo['id'])}">
                            	<if condition = "$vo.rackid eq 1753">
                            	<font color="red">{$vo.common_name}</font>
                            	<else/>
                            	{$vo.common_name}
                            	</if>
                            	</a></td>
                                <td><?php  $typeid = $vo['itemtypeid'];  echo $type_list[$typeid];  ?></td>
                                <td><a href="{:U('Ipdb/viewlocation?locationid='.$vo['locationid'])}"><?php $lid = $vo['locationid'];echo $location_list[$lid];?></a>/<a href="{:U('Ipdb/viewarea?areaid='.$vo['locareaid'])}"><?php $rid = $vo['locareaid'];echo $area_list[$rid];?></a>/<a href="{:U('Racks/viewrack?rackid='.$vo['rackid'])}"><?php $rackid = $vo['rackid'];echo $rack_list[$rackid];?></a></td>
                                
                                <td><?php  $departid = $vo['depart_id'];  echo $depart_arr_now[$departid];  ?></td>
                                
                                <if condition="$is_admin_define eq true" >
                                <td>

	                                 <a class="btn btn-primary btn-xs" href="{:U('Racks/rackspace_move?objectid='.$vo['id'])}">迁移</a> 
	                                 <if condition="$vo.rackid neq 0" > 
	                                 <a class="btn btn-primary btn-xs" href="{:U('Racks/rackspace_down?objectid='.$vo['id'])}" onclick="return confirm('确定下架该设备?')">下架</a>    
   									 </if>
	                                 <a class="btn btn-primary btn-xs" href="{:U('item_edit?id='.$vo['id'])}">编辑信息</a>
	                                 <if condition="$vo.rackid neq 1753">
	                                 <if condition="$vo.hostid eq null">
	                                 	<a class="btn btn-primary btn-xs" href="{:U('monitor?id='.$vo['id'])}">添加监控</a> 
	                                 <else/>
	                                     <if condition="($vo.itemtypeid eq 1) OR ($vo.itemtypeid eq 6)">
	                                     	<a class="btn btn-primary btn-xs" href="{:U('view_monitor?id='.$vo['id'])}">查看监控</a> 
	                                     <else/>
	                                     	<a class="btn btn-primary btn-xs" href="{:U('view_monitor2?id='.$vo['id'])}">查看监控</a> 
	                                     </if>
	                                    
	                                 </if>
	                                  </if>                         
	                                 <!--a class="btn btn-default btn-xs" href="{:U('item_del?id='.$vo['id'])}" onclick="return confirm('确定删除该条记录?')"  >删除</a-->
                                </td>
                                <elseif condition="$is_owner_define eq 'YES'"/>
                                <td>
								    <!--   <a class="btn btn-primary btn-xs" href="{:U('Racks/rackspace_up?objectid='.$vo['id'])}">上架</a>
	                                 <a class="btn btn-primary btn-xs" href="{:U('Racks/rackspace_down?objectid='.$vo['id'])}">下架</a>
	                                 <a class="btn btn-primary btn-xs" href="{:U('Racks/rackspace_move?objectid='.$vo['id'])}">迁移</a>    
	                                 <a class="btn btn-primary btn-xs" href="{:U('Racks/rackspace_obligate?objectid='.$vo['id'])}">预留</a>    -->
	                                 
	                                 <a class="btn btn-primary btn-xs" href="{:U('Racks/rackspace_move?objectid='.$vo['id'])}">迁移</a>    
	                                 <if condition="$vo.rackid neq 0" > 
	                                 <a class="btn btn-primary btn-xs" href="{:U('Racks/rackspace_down?objectid='.$vo['id'])}" onclick="return confirm('确定下架该设备?')">下架</a>    
   									 </if>
   									 <if condition="$vo.rackid neq 1753">
	                                 <if condition="$vo.hostid eq null">
	                                 	<a class="btn btn-primary btn-xs" href="{:U('monitor?id='.$vo['id'])}">添加监控</a> 
	                                 	
	                                 <else/>
	                                    <if condition="$vo.itemtypeid eq 1">
	                                     	<a class="btn btn-primary btn-xs" href="{:U('view_monitor?id='.$vo['id'])}">查看监控</a> 
	                                     <else/>
	                                     	<a class="btn btn-primary btn-xs" href="{:U('view_monitor2?id='.$vo['id'])}">查看监控</a> 
	                                     </if>
	                                 	
	                                 </if>
	                                 </if>
	                                 <a class="btn btn-primary btn-xs" href="{:U('item_edit?id='.$vo['id'])}">编辑信息</a>                                
	                                 <!--a class="btn btn-default btn-xs" href="{:U('item_del?id='.$vo['id'])}" onclick="return confirm('确定删除该条记录?')"  >删除</a-->
                                </td>
                                <else /> 
                                	<td></td>
                                </if>
                            </tr>
                            </volist>
                            <tr><td  colspan="10" style="align:center">{$page}</td></tr>
                            
                           
                        </tbody>
                    </table>
            </div>
        </div>
        
                    <footer>
                        <hr>
                        <p class="pull-right">&copy; ccib网管中心</p>
                    </footer>
                    
    </div>
    
   
   
</block>
