<extend name="Base/common"/>

<block name="main">
<style>
li{ list-style:none; margin:0; padding:0;}
.clear{ clear:both;}
.form-li{ width:100%; box-sizing:border-box; background:#f1f1f1; margin:10px 0; padding-top:10px; border-radius:6px 6px 0 0;}
.form-li li{ float:left; padding:0 30px; border-radius:6px 6px 0 0; border:1px solid #dbdbdb; line-height:34px; margin:0 4px; background:#f7f7f7; cursor:pointer;}
.form-li li.active{ border-bottom:1px solid #fff;  background:#fff;}
.form-li li:hover{ background:#888; color:#fff; }

.form-content .display{ display:none;}
.form-content .display.block{ display:block;}

.xiaobiaoti{ color:#95b8d6; margin-bottom:10px; border-bottom:2px solid #95b8d6; font-size:18px; font-weight:bold; line-height:34px; padding-left:10px;}
.hang-coco{ line-height:34px; text-align:center;}
.hang-biaoti{ background:#95b8d6; color:#fff; margin:4px auto; width:80%; font-size:16px; font-weight:bold;}
.hang-coco a{line-height:30px;  background:#f7f7f7; margin:1px auto; width:80%; display:block; color:#333;}
.hang-coco a:hover{ background:#dbdbdb; }
.checkbox-coco{ display:block; float:left; line-height:34px; font-size:16px;}
input[type="checkbox"].checkbox-coco-kuang{ margin:9px 6px 0 0; width:16px; height:16px;}

.coco-rizhi h4{ line-height:34px; font-size:14px;}

.sortable{ line-height:34px; margin-bottom:10px;}
.sortable th{background:#95b8d6; color:#fff; padding:0 4px; }
.sortable tr:nth-of-type(2n+1){ background:#f8f8f8;}
.sortable input[type="checkbox"]{ width:16px; height:16px; margin:0 0 0 6px;}

</style>
<div class="content">
        <div class="header">
    	<!--page title begin-->
        <h1 class="page-title">硬件编辑</h1>
        </div>
        <ul class="breadcrumb">
        	<!--  <li><a href="new_device.html">编辑新设备</a> <span class="divider">/</span></li>
            <li class="active">设备管理</li>-->
        </ul>
        <!--page title end and the main content begin-->
        <div class="container">
            <!--new device from begin-->
            <div class="row">
                <div class="col-xs-12">
	                <ul class="form-li">
	                	<li class="active">基本信息</li>
	                	<!--  <li>入库/上架</li>  -->
	                	<li>内部硬件关联</li>
	                	<li>关联合同</li>
	                	<li>关联软件</li>
	                	<li>其他信息</li>
	                	<li>文件</li>
	                	<li>日志</li>
	                	<if condition= "$item_info.rackid neq 1753">
	                	<li>
                             <?php if($item_info['hostid'] == null){ ?>
	                	      <a  href="{:U('monitor?id='.$item_info['id'])}">添加监控</a> 
	                         <?php }  ?>
	                         
	                         <?php if($item_info['hostid'] != null){ ?>
	                	     	 <?php if($item_info['itemtypeid'] == 1){ ?>
	                	           <a href="{:U('view_monitor?id='.$item_info['id'])}">查看监控</a> 
	                	     <?php }else{ ?>
	                	           <a href="{:U('view_monitor2?id='.$item_info['id'])}">查看监控</a> 
	                         <?php } }  ?>
	                	</li>
	                	</if>
	                	<if condition= "$item_info.rackid neq 1753">
	                	<li>
                            
	                         <?php if($item_info['hostid'] != null){ ?>
	                	     	 <?php if($item_info['itemtypeid'] == 1){ ?>
	                	           <a href="{:U('monitor_del?itemid='.$item_info['id'])}">删除监控</a> 
	                	     <?php }}?>
	                	</li>
	                	</if>
	                	<div class="clear"></div>
	                </ul>
	                
	                <div class="form-content">
	                	<div class="display block">
                        <form action="" class="form-horizontal" id="add-device" role="form" method="post">
                        <div class="col-xs-4">
                        	<div class="xiaobiaoti">内在特性</div>	
                            <input type="hidden" name="flag" value="1">
                            <input type="hidden" name="id" value="{$id}">
                            <div class="form-group">
                                <label for="category-name" class="col-xs-3 control-label">硬件类型:</label>                            
                                <div class="col-xs-8">
                                    <select class="form-control" name="itemtypeid">
                                        <volist name="type_list" id="vo">  
                                            <?php   $void = $vo['id'];$tyid=$item_info['itemtypeid']; ?>  
                                             
                                        	<option class="level-0" value="{$vo.id}"  <if condition="$void eq $tyid"> selected='selected'</if>   > {$vo.typedesc}</option>
                                        </volist>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="category-name" class="col-xs-3 control-label">厂商:</label>
                                <div class="col-xs-8">
                                    <select class="form-control" name="manufacturerid">
                            			<volist name="agent_list" id="vo">
                            			    <?php   $vvvid = $vo['id'];$manuid=$item_info['manufacturerid']; ?>  
                                        	<option class='level-0' value='{$vo.id}'  <if condition="$vvvid eq $manuid"> selected='selected'</if> >{$vo.title}</option>
                                        </volist>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="device-type" class="col-xs-3 control-label"><span style="color:red;">*</span>设备名称:</label>
                                <div class="col-xs-8">
                                    <input type="text" class="form-control" id="indate" name="common_name" value="{$item_info.common_name}" required="required">
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="device-type" class="col-xs-3 control-label"><span style="color:red;">*</span>型号:</label>
                                <div class="col-xs-8">
                                    <input type="text" class="form-control" id="indate" name="model" required="required" value="{$item_info.model}" require>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="product-uuid" class="col-xs-3 control-label"><span style="color:red;">*</span>SN号:</label>
                                <div class="col-xs-8">
                                    <input type="text" class="form-control" id="indate" name="sn" value="{$item_info.sn}" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="device-type" class="col-xs-3 control-label">SN2号:</label>
                                <div class="col-xs-8">
                                    <input type="text" class="form-control" id="indate" name="sn2" value="{$item_info.sn2}" require>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="product-key" class="col-xs-3 control-label">资产编号:</label>
                                <div class="col-xs-8">
                                    <input type="text" class="form-control" id="start" name="asset" value="{$item_info.asset}" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="product-key" class="col-xs-3 control-label"><span style="color:red;">*</span>所占U数:</label>
                                <div class="col-xs-8">
                                    <input type="text" class="form-control" id="start" required="required" name="usize" value="{$item_info.usize}" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="product-key" class="col-xs-3 control-label">注释:</label>
                                <div class="col-xs-8">
                                    <textarea class="form-control" id="device-description" name="comments" rows="3" maxlength="150">{$item_info.comments}</textarea>
                                </div>
                            </div>
                            
                            
                            <div class="xiaobiaoti">账目</div>	
                            
                            
                             <div class="form-group">
                                <label for="category-name" class="col-xs-3 control-label">采购商店名称:</label>                            
                                <div class="col-xs-8">
                                    <input type="text" class="form-control" id="cai" name="origin" value="{$item_info.origin}" require>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="category-name" class="col-xs-3 control-label">采购价格(￥):</label>                            
                                <div class="col-xs-8">
                                    <input type="text" class="form-control" id="cai" name="purchprice" value="{$item_info.purchprice|date="Y-m-d H:i:s",###}" require>
                                </div>
                            </div>
                           
                          
                           
                           	
                    	</div>
                    	
                    	<div class="col-xs-4">
                        	<div class="xiaobiaoti">维保</div>	
                           
                            
                            <div class="form-group">
                                <label for="category-name" class="col-xs-3 control-label">采购日期:</label>                            
                                <div class="col-xs-8">
                                    <input type="text" class="form-control" id="startcai" name="purchasedate" value='{$item_info.purchasedate|date="Y-m-d H:i:s",###}' require>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="category-name" class="col-xs-3 control-label">保修时间(月):</label>
                                <div class="col-xs-8">
                                    <input type="text" class="form-control" id="cai" name="warrantymonths" value="{$item_info.warrantymonths}" require>
                                </div>
                            </div>
                            
                            <div class="xiaobiaoti">网络</div>	
                            
                            
                           <div class="form-group">
                                <label for="product-key" class="col-xs-3 control-label">DNS 名称:</label>
                                <div class="col-xs-8">
                                    <input type="text" class="form-control" id="ddd" name="dnsname" value="{$item_info.dnsname}" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="product-key" class="col-xs-3 control-label">MACs:</label>
                                <div class="col-xs-8">
                                    <input type="text" class="form-control" id="ddd" name="macs" value="{$item_info.macs}" >
                                </div>
                            </div>
                            
                            
                            
                            
                            <?php if($item_info['hostid'] != null){ ?>
	                	     	
	                	           <div class="form-group">
		                                <label for="product-key" class="col-xs-3 control-label">IPv4:</label>
		                                <div class="col-xs-8">
		                                   <input type="text" class="form-control" id="ddd" name="ipv4" readonly="readonly" value="{$item_info.ipv4}" >
		                                   <p>此设备已添加监控,绑定信息,改动IP请发邮件至nmc@21vianet.com</p>
		                                </div>
		                            </div>
	                	     <?php }else{ ?>
	                	           <div class="form-group">
		                                <label for="product-key" class="col-xs-3 control-label">IPv4:</label>
		                                <div class="col-xs-8">
		                                   <input type="text" class="form-control" id="ddd" name="ipv4" value="{$item_info.ipv4}" >
		                                </div>
		                            </div>
	                         <?php }   ?>
                            
                            <div class="form-group">
                                <label for="product-key" class="col-xs-3 control-label">IPv6:</label>
                                <div class="col-xs-8">
                                   <input type="text" class="form-control" id="ddd" name="ipv6" value="{$item_info.ipv6}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="category-name" class="col-xs-3 control-label">交换机:</label>                            
                                <div class="col-xs-8">
                                    <select class="form-control" name="switchid">
                                        <option class="level-0" value=""  >请选择交换机</option>
                                        <volist name="switch_list" id="vo">
                                        <?php   $vvid = $vo['id'];$swid=$item_info['switchid']; ?>  
                                        	<option class="level-0" value="{$vo.id}"  <if condition="$vvid eq $swid"> selected="selected"</if>>{$vo.common_name}</option>
                                        </volist>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="product-key" class="col-xs-3 control-label">端口:</label>
                                <div class="col-xs-8">
                                   <input type="text" class="form-control" id="start" name="ports" value="{$item_info.ports}">
                                </div>
                            </div>
                            
                            <div class="xiaobiaoti">MISC</div>	
                            
                            <div class="form-group">
                                <label for="device-type" class="col-xs-3 control-label">内存 (GB):</label>
                                <div class="col-xs-8">
                                    <input type="text" class="form-control" id="indate" name="ram" value="{$item_info.ram}" require>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="device-type" class="col-xs-3 control-label">CPU型号:</label>
                                <div class="col-xs-8">
                                    <input type="text" class="form-control" id="indate" name="cpu" value="{$item_info.cpu}" require>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="device-type" class="col-xs-3 control-label">设备功率:</label>
                                <div class="col-xs-8">
                                    <input type="text" class="form-control" id="indate" name="power" value="{$item_info.power}" require>
                                </div>
                            </div>
                           
                           	
                    	</div>
                    	
                    	<div class="col-xs-4">
                        	
                            <div class="xiaobiaoti">相关信息</div>	
                            
                            <div class="form-group">
                                <label for="device-type" class="col-xs-3 control-label"><span style="color:red;">*</span>所属部门:</label>
                                <div class="col-xs-8">
                                  <select class="form-control" name="depart_id" required="required">
                                   <volist name="depart_list" id="vo">
                                        <?php   $vvid = $vo['id'];$departid=$item_info['depart_id']; ?>  
                                        	<option class="level-0" value="{$vo.id}"  <if condition="$vvid eq $departid"> selected="selected"</if>>{$vo.depart_name}</option>
                                    </volist>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="device-type" class="col-xs-3 control-label">所属产品:</label>
                                <div class="col-xs-8">
                                  <select class="form-control" name="belong_product">
                                            <?php $belong_product=$item_info['belong_product']; ?>  
                                            <option class="level-0" value=""  >请选择所属产品</option>
                                        	<option class="level-0" value="BB产品"  <if condition="$vvid eq $belong_product"> selected="selected"</if>>BB产品</option>
                                        	<option class="level-0" value="三线BGP"  <if condition="'三线BGP' eq $belong_product"> selected="selected"</if>>三线BGP</option>
                                    		<option class="level-0" value="全线BGP"  <if condition="'全线BGP' eq $belong_product"> selected="selected"</if>>全线BGP</option>
                                    		<option class="level-0" value="共享"  <if condition="'共享' eq $belong_product"> selected="selected"</if>>共享</option>
                                    		<option class="level-0" value="单电信"  <if condition="'单电信' eq $belong_product"> selected="selected"</if>>单电信</option>
                                    		<option class="level-0" value="单移动"  <if condition="'单移动' eq $belong_product"> selected="selected"</if>>单移动</option>
                                    		<option class="level-0" value="单线国际"  <if condition="'单线国际' eq $belong_product"> selected="selected"</if>>单线国际</option>
                                    		<option class="level-0" value="单联通"  <if condition="'单联通' eq $belong_product"> selected="selected"</if>>单联通</option>
                                    		<option class="level-0" value="双线"  <if condition="'双线' eq $belong_product"> selected="selected"</if>>双线</option>
                                    		<option class="level-0" value="双线BGP"  <if condition="'双线BGP' eq $belong_product"> selected="selected"</if>>双线BGP</option>
                                    		<option class="level-0" value="四线BGP"  <if condition="'四线BGP' eq $belong_product"> selected="selected"</if>>四线BGP</option>
                                    		<option class="level-0" value="小宽带"  <if condition="'小宽带' eq $belong_product"> selected="selected"</if>>小宽带</option>
                                    		<option class="level-0" value="静态四线BGP"  <if condition="'静态四线BGP' eq $belong_product"> selected="selected"</if>>静态四线BGP</option>
                                    		<option class="level-0" value="骨干网设备"  <if condition="'骨干网设备' eq $belong_product"> selected="selected"</if>>骨干网设备</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="device-type" class="col-xs-3 control-label">slot number:</label>
                                <div class="col-xs-8">
                                    <input type="text" class="form-control" id="indate" name="slot_number" value="{$item_info.slot_number}" require>
                                </div>
                            </div>
                           
                              
                            <div class="form-group hang-coco">
                                <div class="hang-biaoti">硬件:</div>
                                <?php  foreach($item_list as $items){  if( in_array($items['id'],$itemlink_list) ){  $id_now_t = $items['id']; ?>
                                       <a href="{:U('Item/item_edit?id='.$id_now_t)}"><?php  echo $items['common_name']; ?></a>
                                <?php } }   ?>
                            </div>
                            <div class="form-group hang-coco">
                               <div class="hang-biaoti">软件:</div>
                                <?php  foreach($soft_list as $so){  if( in_array($so['id'],$softlink_list) ){   $id_now_t = $so['id'];?>
                                       <a href="{:U('Soft/soft_edit?id='.$id_now_t)}"><?php  echo $so['stitle']; ?></a>
                                <?php } }   ?>
                            </div>
                            <div class="form-group hang-coco">
                                <div class="hang-biaoti">合同:</div>
                                
                                <?php  foreach($contract_list as $so){  if( in_array($so['id'],$contractlink_list) ){   $id_now_t = $so['id'];   ?>
                                       <a href="{:U('Soft/contract_edit?id='.$id_now_t)}"><?php  echo $so['title']; ?></a>
                                <?php } }   ?>
                             </div>   
                           
                           
                           	
                    	</div>
                    	
                    	<div class="clear"></div>
                    	
                    	
                    	
                    	<div class="form-actions col-xs-8 pull-right">
                        		<input type="submit" class="btn btn-primary"></input>
                        		
                    		</div>
                        </form>
                    </div>
                    
                    <!--  <div class="display">
                        <form action="" class="form-horizontal" id="add-device" role="form" method="post">
                            <input type="hidden" name="flag" value="2">
                            <input type="hidden" name="id" value="{$id}">
                            <div class="form-group">
                                <label for="category-name" class="col-xs-4 control-label">状态</label>                            
                                <div class="col-xs-4">
                                    <select class="form-control" name="status">
                                        <option class="level-0" value="1" <if condition="$item_info.status eq 1"> selected="selected"</if>>使用中</option>
										<option class="level-0" value="2" <if condition="$item_info.status eq 2"> selected="selected"</if>>入库</option>
										<option class="level-0" value="3" <if condition="$item_info.status eq 3"> selected="selected"</if>>出库</option>
                                    </select>
                                </div>
                            </div>
                           
                        
                            <div class="form-actions col-xs-8 pull-right">
                        		<input type="submit" class="btn btn-primary"></input>
                        		
                    		</div>
                        </form>
                    </div>-->
                    
                    <div class="display">
                        <form action="" class="form-horizontal" id="add-device" role="form" method="post">
                            <input type="hidden" name="flag" value="3">
                            <input type="hidden" name="id" value="{$id}">
                            <div class="form-group">
                               
                                
                                  <div class="col-xs-12">                                  
                                    <!--  <input type="checkbox"  name="itemid[]" value="{$vo.id}" <?php if( in_array($vo['id'],$itemlink_list) ){ echo "checked = true"; } ?>  >{$vo.common_name}</input>-->
                                  	<table width="100%" class="sortable">
          
          								 <tr class="even">
          									<th width="5%">关联于</th>
          									<th>设备名称</th>
          									<th>SN号</th>
          									<th>型号</th>
          						        </tr>
                                        <volist name="item_list" id="vo">
	  										<tr>
	  											<td><input name="itemid[]" value="{$vo.id}" <?php if( in_array($vo['id'],$itemlink_list) ){ echo "checked = true"; } ?> type="checkbox" ></td>
	  											<?php  $id_now_t = $vo['id'];  ?>
	  											<td class="bld"><a class="editid" href="{:U('Item/item_edit?id='.$id_now_t)}">{$vo.common_name}</a></td>
	  											<td class="bld">{$vo.sn}</td>
	  											<td class="bld">{$vo.model}</td>
	  										</tr>
  										</volist>
										<tr><td  colspan="10" style="align:center">{$page}</td></tr>
 									</table>
                                  	
                                  </div>
                          
                                
                           </div>
                        
                            <div class="form-actions col-xs-8 pull-right">
                        		<input type="submit" class="btn btn-primary"></input>
                        		
                    		</div>
                        </form>
                    </div>
                    
                    <div class="display">
                        <form action="" class="form-horizontal" id="add-device" role="form" method="post">
                            <input type="hidden" name="flag" value="4">
                            <input type="hidden" name="id" value="{$id}">
                           <div class="form-group">
                               
                               
                               <div class="col-xs-12">                                  
                                    <!--  <input type="checkbox"  name="itemid[]" value="{$vo.id}" <?php if( in_array($vo['id'],$itemlink_list) ){ echo "checked = true"; } ?>  >{$vo.common_name}</input>-->
                                  	<table width="100%" class="sortable">
          
          								 <tr class="even">
          									<th width="5%">关联于</th>
          									<th>标题</th>
          									<th>数量</th>
          									<th>开始时间</th>
          									<th>结束时间</th>
          						        </tr>
                                        <volist name="contract_list" id="vo">
	  										<tr>
	  											<td><input name="contract_id[]" value="{$vo.id}" <?php if( in_array($vo['id'],$contractlink_list) ){ echo "checked = true"; } ?>  type="checkbox" ></td>
	  											<?php  $id_now_t = $vo['id'];  ?>
	  											<td class="bld"><a class="editid" href="{:U('Soft/contract_edit?id='.$id_now_t)}">{$vo.title}</a></td>
	  											<td class="bld">{$vo.number}</td>
	  											<td class="bld">{$vo.startdate|date="Y-m-d H:i:s",###}</td>
	  											<td class="bld">{$vo.currentenddate|date="Y-m-d H:i:s",###}</td>
	  										</tr>
  										</volist>
										
 									</table>
                                  	
                                  </div>
                               
                               
                                <!-- <volist name="contract_list" id="vo">
                                  <div class="col-xs-2">
                                    <input type="checkbox"  name="contract_id[]" value="{$vo.id}" <?php if( in_array($vo['id'],$contractlink_list) ){ echo "checked = true"; } ?>   >{$vo.title}</input>
                                  </div>
                                </volist> -->
                                
                           </div>
                           
                           <div class="form-actions col-xs-8 pull-right">
                        		<input type="submit" class="btn btn-primary"></input>
                        		
                    		</div>
                        </form>
                    </div>
                    
                    <div class="display">
                        <form action="" class="form-horizontal" id="add-device" role="form" method="post">
                            <input type="hidden" name="flag" value="5">
                            <input type="hidden" name="id" value="{$id}">
                           <div class="form-group">
                               
                               
                               <div class="col-xs-12">                                  
                                    <!--  <input type="checkbox"  name="itemid[]" value="{$vo.id}" <?php if( in_array($vo['id'],$itemlink_list) ){ echo "checked = true"; } ?>  >{$vo.common_name}</input>-->
                                  	<table width="100%" class="sortable">
          
          								 <tr class="even">
          									<th width="5%">关联于</th>
          									<th>软件名称</th>
          									<th>版本</th>
          									<th>许可信息</th>
          						        </tr>
                                        <volist name="soft_list" id="vo">
	  										<tr>
	  											<td><input name="softid[]" value="{$vo.id}" <?php if( in_array($vo['id'],$softlink_list) ){ echo "checked = true"; } ?>  type="checkbox" ></td>
	  											<?php  $id_now_t = $vo['id'];  ?>
	  											<td class="bld"><a class="editid" href="{:U('Soft/soft_edit?id='.$id_now_t)}">{$vo.stitle}</a></td>
	  											<td class="bld">{$vo.sversion}</td>
	  											<td class="bld">{$vo.slicenseinfo}</td>
	  										</tr>
  										</volist>
										
 									</table>
                                  	
                                  </div>
                               
                                
                           </div>
                           
                           <div class="form-actions col-xs-8 pull-right">
                        		<input type="submit" class="btn btn-primary"></input>
                        		
                    		</div>
                        </form>
                    </div>
                    
                    
                    <div class="display">
                        <form action="" class="form-horizontal" id="add-device" role="form" method="post">
                        	<input type="hidden" name="flag" value="6">
                            <input type="hidden" name="id" value="{$id}">
                           
                            
                            <div class="form-group">
                                <label for="product-key" class="col-xs-4 control-label">DNS 名称:</label>
                                <div class="col-xs-4">
                                    <input type="text" class="form-control" id="ddd" name="dnsname" value="{$item_info.dnsname}" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="product-key" class="col-xs-4 control-label">MACs:</label>
                                <div class="col-xs-4">
                                    <input type="text" class="form-control" id="ddd" name="macs" value="{$item_info.macs}" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="product-key" class="col-xs-4 control-label">IPv4:</label>
                                <div class="col-xs-4">
                                   <input type="text" class="form-control" id="ddd" name="ipv4" value="{$item_info.ipv4}" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="product-key" class="col-xs-4 control-label">IPv6:</label>
                                <div class="col-xs-4">
                                   <input type="text" class="form-control" id="ddd" name="ipv6" value="{$item_info.ipv6}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="category-name" class="col-xs-4 control-label">交换机:</label>                            
                                <div class="col-xs-4">
                                    <select class="form-control" name="switchid">
                                        <volist name="switch_list" id="vo">
                                        	<option class="level-0" value="{$vo.id}"  <if condition="$item_info.switchid eq $vo.id"> selected="selected"</if>>{$vo.common_name}</option>
                                        </volist>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="product-key" class="col-xs-4 control-label">端口:</label>
                                <div class="col-xs-4">
                                   <input type="text" class="form-control" id="start" name="ports" value="{$item_info.ports}">
                                </div>
                            </div>
                           
                           	<div class="form-actions col-xs-8 pull-right">
                        		<input type="submit" class="btn btn-primary"></input>
                        		
                    		</div>
                        </form>
                    </div>
                    
                    
                     <div class="display">
                        <form action="" class="form-horizontal" id="add-device" role="form" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="flag" value="7">
                            <input type="hidden" name="id" value="{$id}">
                           <div class="form-group">
                                <label for="device-type" class="col-xs-4 control-label">文件:</label>
                                <div class="col-xs-4">
                                    <input type="file"  class="form-control" id="indate" name="imageurl"  require>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="device-type" class="col-xs-4 control-label">文件显示:</label>
                                <img src="__ROOT__/upload/{$item_info.imageurl}"   />
                            </div>
                           
                           <div class="form-actions col-xs-8 pull-right">
                        		<input type="submit" class="btn btn-primary"></input>
                        		
                    		</div>
                        </form>
                    </div>
                    
                    
                    <div class="display">
                       
                            
                           <div class="form-group coco-rizhi">
                               
                                <!--  <volist name="log_list" id="vo">
                                    <h4>{$vo.date|date="Y-m-d H:i:s",###} --- {$vo.desc} --- {$vo.user}</h4>
                                </volist>-->
                                
                           </div>
                           
                           
                        
                    </div>
                    
                    
	                </div>
	                    
                </div>
            </div>


            </div>
        <!--the content end -->
      
                    <footer>
                        <hr>
                        <p class="pull-right"></p>
                    </footer>
                    
</div>
     <script type="text/javascript" src="__PUBLIC__/static/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/jedate/jedate.js"></script>
    <script type="text/javascript">
   
    jeDate({
    	dateCell:"#startcai",//isinitVal:true,
        format:"YYYY-MM-DD hh:mm:ss",
        isTime:true
    });
    
   
        
    $(".form-li").on("click",'li',function(){
    	$(this).addClass('active').siblings().removeClass('active');
    	var num = $(this).index();
    	$(".form-content .display").removeClass('block');
    	$(".form-content .display").eq(num).addClass('block');
    	
    });
    
    </script>
   
</block>
