
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1496739420053'); /* IE9*/
  src: url('iconfont.eot?t=1496739420053#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1496739420053') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1496739420053') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1496739420053#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:20px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-configure-port:before { content: "\e664"; }

.iconfont.green{ color:#44ff00; border:1px solid #44ff00;}
.iconfont.blue{ color:#00fff9; border:1px solid #00fff9;}

