<extend name="Base/common"/>987654321·

<block name="main">
<style>
.clear{ clear:both;}
li{ list-style:none;}
.page-title-ul{ font-size:16px; height:40px;}
.page-title-ul li{ float:left; padding:20px 0 0; margin:0 10px;}
.page-title-ul li a{ color:#1e1e1e; line-height:24px; padding:8px 24px; border-radius:6px 6px 0 0; border:1px solid #ccc; border-bottom:none;}
.page-title-ul li.hover a{ background:#fff; border-bottom:none;}
</style>
<div class="content">
        <div class="header">
      <!--page title begin-->
        		<ul class="page-title-ul">
        		<li class="hover"><a href="{:U('Customer/index')}">端口资源客户列表</a></li>
        		<li ><a href="{:U('Customer/ip_index')}">IP资源客户列表</a></li>
                <li ><a href="{:U('Customer/all_index')}">所有资源客户列表</a></li>
                <li ><a href="{:U('Customer/chuanshu_index')}">传输客户列表</a></li>
        		<div class="clear"></div>
        	</ul>
        </div>
       
        <!--page title end and the main content begin-->

        <div class="container">

          <!--the toolbar begin -->
            <div class="toolbar">
                <div class="row">
                    <div class="col-xs-6" style="width:100%;">
                        <div class="quick-add-btn">
						
                         <a href="{:U('monitor_index')}"  type="button" class="btn btn-danger"><span class="glyphicon glyphicon-new-window"></span>已关联监控客户</a>

                        <form class="form-inline pull-right" id="device-search" role="form" method="get" >
                        
                           
                          
                            <div class="form-group">
                            <input type="text" class="form-control" name="name" id="name" value="{$name}"  placeholder="客户名称……">
                            </div>
                            <button type="button" class="btn btn-default" onclick="submit_now()"  style= "margin:0;">筛选</button>
                        </form>

                       </div>
                        
                        
                        
                    </div>
                    
                </div>

            </div>
        <!--all device detail begin -->
                

        <!--all device detail begin -->
            <div class="panel panel-default" id="all-device-detail">
                <div class="panel-heading">

                </div>
                  <table class="table">
                        <thead>
                        <tr>
                            <th>名称</th>
                            <th>公司别名</th>
                            <th>描述</th>
                        </tr></thead>
                        <tbody>
  
                        <volist name="list" id="vo">
                        <tr >
                            <td><a href="{:U('Customer/customer_detail?code='.$vo['code'])}">{$vo.name}</a></td>
                            <td></td>
                            <td></td>
							
                        </tr>
                        </volist>

                            <tr><td  colspan="10" style="align:center">{$page}</td></tr>
                            
                           
                        </tbody>
                    </table>
            </div>
        </div>
        
    <footer>
        <hr>
        <p class="pull-right">&copy; ccib网管中心</p>
    </footer>
                    
    </div>
    
 <script type="text/javascript">

  function p_del() { 
    var msg = "您真的确定要执行删除操作吗？\n\n请确认！"; 
    if (confirm(msg)==true){ 
        return true; 
    }else{ 
        return false; 
    } 
  } 

function submit_now(){
    var name = $('#name').val();
    window.location.href= "__ROOT__/index.php?s=/Home/Customer/index/name/"+name+"/p/1.html";

 }


</script>  
   









</block>
