<extend name="Base/common"/>

<block name="main">
<style type="text/css">
.mainmenu td{padding:10px;} 
.mainmenu td a{display:block;line-height: 30px;font-size: 20px;}
</style>
<div class="content">
        <div class="header">
      <!--page title begin-->
        <h1 class="page-title">九宫格</h1>
        </div>
        <ul class="breadcrumb">
          <!--  <li><a href="new_device.html">绑定新设备</a> <span class="divider">/</span></li>
            <li class="active">设备管理</li>-->
        </ul>
        <!--page title end and the main content begin-->
        <div class="container">
            <!--new device from begin-->
            <div class="row">
                <div class="col-xs-12">
                    <table width="100%" cellspacing="10" cellpadding="20" class="mainmenu" border="0" style="text-align:center;">
                    <tbody><tr>          <td>
                                <h1><a href="javascript:void(0)">Rackspace<br>
                    <img src="__PUBLIC__/images/index0.png" width="218" height="200" border="0"></a></h1>
                              </td>
                              <td>
                                <h1><a href="javascript:void(0)">Objects<br>
                    <img src="__PUBLIC__/images/index1.png" width="218" height="200" border="0"></a></h1>
                              </td>
                              <td>
                                <h1><a href="javascript:void(0)">IPv4 space<br>
                    <img src="__PUBLIC__/images/index2.png" width="218" height="200" border="0"></a></h1>
                              </td>
                              <td>
                                <h1><a href="javascript:void(0)">IPv6 space<br>
                    <img src="__PUBLIC__/images/index3.png" width="218" height="200" border="0"></a></h1>
                              </td>
                    </tr><tr>          <td>
                                <h1><a href="javascript:void(0)">Files<br>
                    <img src="__PUBLIC__/images/index4.png" width="218" height="200" border="0"></a></h1>
                              </td>
                              <td>
                                <h1><a href="javascript:void(0)">Reports<br>
                    <img src="__PUBLIC__/images/index5.png" width="218" height="200" border="0"></a></h1>
                              </td>
                              <td>
                                <h1><a href="javascript:void(0)">IP SLB<br>
                    <img src="__PUBLIC__/images/index6.png" width="218" height="200" border="0"></a></h1>
                              </td>
                              <td>
                                <h1><a href="javascript:void(0)">802.1Q<br>
                    <img src="__PUBLIC__/images/index7.png" width="218" height="200" border="0"></a></h1>
                              </td>
                    </tr><tr>          <td>
                                <h1><a href="javascript:void(0)">Configuration<br>
                    <img src="__PUBLIC__/images/index8.png" width="218" height="200" border="0"></a></h1>
                              </td>
                              <td>
                                <h1><a href="javascript:void(0)">Log records<br>
                    <img src="__PUBLIC__/images/index9.png" width="218" height="200" border="0"></a></h1>
                              </td>
                              <td>
                                <h1><a href="javascript:void(0)">Virtual Resources<br>
                    <img src="__PUBLIC__/images/index10.png" width="218" height="200" border="0"></a></h1>
                              </td>
                              <td>
                                <h1><a href="javascript:void(0)">Patch cables<br>
                    <img src="__PUBLIC__/images/index11.png" width="218" height="200" border="0"></a></h1>
                              </td>
                    </tr>           </tbody></table>
                </div>
            </div>


            </div>
        <!--the content end -->

                    
</div>













   
</block>
