<extend name="Base/common"/>

<block name="main">

<div class="content">
        <div class="header">
    	<!--page title begin-->
        <h1 class="page-title">代理添加</h1>
        </div>
        <ul class="breadcrumb">
        	<!--  <li><a href="new_device.html">绑定新设备</a> <span class="divider">/</span></li>
            <li class="active">设备管理</li>-->
        </ul>
        <!--page title end and the main content begin-->
        <div class="container">
            <!--new device from begin-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="display">
                        <form action="" class="form-horizontal" id="add-device" role="form" method="post">
                            <div class="form-group">
                                <label for="category-name" class="col-xs-4 control-label">类型:</label>
                                <div class="col-xs-4">
                                    <select class="form-control" name="type">
                                        <option class="level-0" value="1">供应商</option>
                                        <option class="level-0" value="2">软件厂商</option>
                                        <option class="level-0" value="3">硬件厂商</option>
                                        <option class="level-0" value="4">采购人</option>
                                        <option class="level-0" value="5">承揽人</option>
                                    </select>
                                </div>
                            </div>
                            
                            
                            <div class="form-group">
                                <label for="device-type" class="col-xs-4 control-label">名称:</label>
                                <div class="col-xs-4">
                                    <input type="text" class="form-control" id="indate" name="title" require>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="product-uuid" class="col-xs-4 control-label">合同:</label>
                                <div class="col-xs-4">
                                    <input type="text" class="form-control" id="indate" name="contacts" >
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="product-uuid" class="col-xs-4 control-label">网址:</label>
                                <div class="col-xs-4">
                                    <input type="text" class="form-control" id="indate" name="urls" >
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="product-uuid" class="col-xs-4 control-label">合同信息:</label>
                                <div class="col-xs-4">
                                    <input type="text" class="form-control" id="indate" name="contactinfo" require>
                                </div>
                            </div>
                          
                           	<div class="form-actions col-xs-8 pull-right">
                        		<input type="submit" class="btn btn-primary"></input>
                        		
                    		</div>
                        </form>
                    </div>
                </div>
            </div>


            </div>
        <!--the content end -->
      
                    <footer>
                        <hr>
                        <p class="pull-right"></p>
                    </footer>
                    
</div>
   
    <script type="text/javascript" src="__STATIC__/jedate/jedate.js"></script>
    <script type="text/javascript">
    //jeDate.skin('gray');
    jeDate({
        dateCell:"#start",//isinitVal:true,
        format:"YYYY-MM-DD hh:mm:ss",
        isTime:true
       
    })
    jeDate({
    	dateCell:"#end",//isinitVal:true,
        format:"YYYY-MM-DD hh:mm:ss",
        isTime:true
    })
    </script>
   
</block>
