<block name="css">
<meta charset="utf-8">
    <title>机柜资产管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/ly/ly.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/ly/tipso.css">
    <link rel="Shortcut Icon" href="__PUBLIC__/static/ly/favicon.ico">
    <script src="__PUBLIC__/lib/jquery-1.7.2.min.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
      <script src="__PUBLIC__/lib/html5.js"></script>
    <![endif]-->
    
    <style type="text/css">

span.current{ text-align:center; font-size:12px; cursor:default;line-height:28px; height:28px; width:28px; border:1px solid rgba(0,0,0,0);  display:inline-block; margin:0 2px;}
a.num,a.next,a.prev{ line-height:28px; height:28px; width:28px; text-align:center; font-size:12px; border: 1px solid rgba(0,0,0,.2); color: rgba(0,0,0,.8); display:inline-block; margin:0 2px;}
a.num:hover,a.next:hover,a.prev:hover{ background:rgba(0,0,0,.1); color:rgba(0,0,0,.8);}
button{ font-size:14px; font-family:"Microsoft YaHei"; cursor:pointer; padding:10px 20px; background:#5089E1; color:#fff; border-radius:4px; -o-border-radius:4px; -os-border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; transition:all 0.3s ease; border:none; display:block; margin:20px auto;}
button:hover{ background:#3d76cf; }

		tr.red{ background:red; }
		tr.green{ background:green; }
		tr.yellow{ background:yellow; }
    </style>

</block>
